<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Redirecting....</title>
<style>
  img{
    width: 50%;
    height: 50%;
  }
</style>
</head>

<body bgcolor="black">
	<center>
		<h1 style="color: white;">Redirecting....</h1>
		<img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b6e0b072897469.5bf6e79950d23.gif" alt="loading" title="loding">
</center>
</body>
<script>
  function redirecting(){
    window.location="/index";
  }
  setTimeout('redirecting()',5000);
</script>
</html>